Gyak-02/RYSNLC_mozi_dtd.dtd

<!ELEMENT mozi (film*)>
<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ATTLIST film 
    id CDATA #REQUIRED
    mufaj (horror|sci-fi|romantikus) "horror"
>
<!ELEMENT rendezo (#PCDATA)>
<!ATTLIST rendezo 
    id CDATA #REQUIRED
    nev CDATA #IMPLIED
>
<!ELEMENT szinesz (#PCDATA)>
<!ATTLIST szinesz 
    id CDATA #REQUIRED
    nev CDATA #IMPLIED
>
<!ELEMENT iro (#PCDATA)>
<!ATTLIST iro 
    id CDATA #REQUIRED
    nev CDATA #IMPLIED
>